<html>

<head>
  <title>Issue Tracking System</title>
  <link rel="stylesheet" href="css/style.css"/>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
  <script type="text/javascript"> 
    var  config = { 
    apiKey: "AIzaSyAkoqYuXsb7R6I5gSwb3kmSamNfvQ7W9U8", 
    authDomain: "issue-tracker-8c7e0.firebaseapp.com",
    databaseURL: "https://issue-tracker-8c7e0.firebaseio.com",
    storageBucket: "issue-tracker-8c7e0.appspot.com",
    messagingSenderId:"893777413665" 
    }; 
  firebase.initializeApp(config);
  </script>
  <script type="text/javascript" src="js/adminlogin.js"></script>
  <script type="text/javascript" src="js/adminregister.js"></script>
</head>

<body>
  <div class="login-box">
    <h2 style="text-align: center">Admin Login</h2>
    <hr/>
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <form class="email-login">
      <div class="u-form-group">
        <input type="email" id="emailInput" placeholder="Email" />
      </div>
      <div class="u-form-group">
        <input type="password" id="passwordInput" placeholder="Password" />
      </div>
      <div class="u-form-group">
                      <label >Department</label>
                      <select id="issue-department" class="form-control">
                        <option value="">--Select--</option>
                        <option value="operations">Operations</option>
                        <option value="finance">Finanace</option>
                        <option value="training">Training</option>
                        <option value="recruitment">Recruitment</option>
                        <option value="sales">Sales</option>
                        <option value="marketing">Marketing</option>
                      </select>
                    </div>
      <div class="u-form-group">
        <button onclick="login()">Log in</button>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" id="email" placeholder="Email" />
      </div>
      <div class="u-form-group">
        <input type="password" id="password" placeholder="Password" />
      </div>
      <div class="u-form-group">
        <input type="password" id="confirmpassword" placeholder="Confirm Password" />
      </div>
      <div class="u-form-group">
                      <label>Department</label>
                      <select id="issue-department" class="form-control">
                        <option value="">--Select--</option>
                        <option value="operations">Operations</option>
                        <option value="finance">Finanace</option>
                        <option value="training">Training</option>
                        <option value="recruitment">Recruitment</option>
                        <option value="sales">Sales</option>
                        <option value="marketing">Marketing</option>
                      </select>
                    </div>
      <div class="u-form-group">
        <button onclick="register()">Sign Up</button>
      </div>
    </form>
  </div>
</body>

</html>