<html>

<head>
  <title>Issue Tracking System</title>
  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
  <script type="text/javascript"> 
    var  config = { 
    apiKey: "AIzaSyAkoqYuXsb7R6I5gSwb3kmSamNfvQ7W9U8", 
    authDomain: "issue-tracker-8c7e0.firebaseapp.com",
    databaseURL: "https://issue-tracker-8c7e0.firebaseio.com",
    storageBucket: "issue-tracker-8c7e0.appspot.com",

    messagingSenderId:"893777413665" 
    }; 
  firebase.initializeApp(config);
  </script>
  <script type="text/javascript" src="js/adminlogin.js"></script>
</head>

<body>
  <div class="login-box">
    <h2 style="text-align: center">Admin Authentication Page</h2>
    <hr/>
    <div class="email-login">
      <div class="u-form-group">
        <input type="email" id="adminEmail" placeholder="Email" />
      </div>
      <div class="u-form-group">
        <input type="password" id="adminPassword" placeholder="Password" />
      </div>
      <div class="u-form-group">
        <button onclick="adminlogin()">Log in</button>
      </div>
    </div>
  </div>
  </div>
</body>

</html>