<html>

<head>
  <title> Authentication Page</title>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css ">
   
  <script type="text/javascript"> 
    var  config = { 
    apiKey: "AIzaSyAkoqYuXsb7R6I5gSwb3kmSamNfvQ7W9U8", 
    authDomain: "issue-tracker-8c7e0.firebaseapp.com",
    databaseURL: "https://issue-tracker-8c7e0.firebaseio.com",
    storageBucket: "issue-tracker-8c7e0.appspot.com",
    messagingSenderId:"893777413665" 
    }; 
  firebase.initializeApp(config);
  </script>
  
  <script type="text/javascript">


function login() {
  if (firebase.auth().currentUser) {
    //start signout
    firebase.auth().signOut();
    //end signout
  } 
  else {
    var email = document.getElementById('Email').value;
    var password = document.getElementById('Password').value;
    if(email.length < 4) {
      alert("Please enter a valid email address.");
      return;
    }
    if(password.length < 4) {
      alert("Please enter a password.");
      return;
    }

  //Signin with email and password
  firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
    // Handle Errors here.
    var errorCode = error.code;
    var errorMessage = error.message;

    if (errorCode === "auth/wrong-password") {
      alert("Wrong password.");
    }
    else {
      alert(errorMessage);
    }
      console.log(error);
      document.getElementById('quickstart-sign-in').disabled = false;
    });
    }
    document.getElementById('quickstart-sign-in').disabled = true;
    }

//Sign Up
function SignUp() {
  var email = document.getElementById('Email').value;
  var password = document.getElementById('Password').value;
  if (email.length < 4) {
    alert('Please enter an email address.');
    return;
  }
  if (password.length < 4) {
    alert('Please enter a password.');
    return;
  }
  
  firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  
  if (errorCode == 'auth/weak-password') {
    alert('The password is too weak.');
  } else {
    alert(errorMessage);
  }
    console.log(error);
    
  });
    // [END createwithemail]
  }
  /**
   * Sends an email verification to the user.
   */
function sendEmailVerification() {
  
  firebase.auth().currentUser.sendEmailVerification().then(function() {
    // Email Verification sent!
    alert('Email Verification Sent!');
    // [END_EXCLUDE]
  });
  // [END sendemailverification]
  }
  /**
   * initApp handles setting up UI event listeners and registering Firebase auth listeners:
   *  - firebase.auth().onAuthStateChanged: This listener is called when the user is signed in or
   *    out, and that is where we update the UI.
   */
function initApp() {
  // Listening for auth state changes.
  // [START authstatelistener]
  firebase.auth().onAuthStateChanged(function(user) {
  // [START_EXCLUDE silent]
  document.getElementById('quickstart-verify-email').disabled = true;
  // [END_EXCLUDE]
  if (user) {
    // User is signed in.
    var displayName = user.displayName;
    var email = user.email;
    var emailVerified = user.emailVerified;
    var uid = user.uid;
    var providerData = user.providerData;
    // [START_EXCLUDE silent]
    document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
    document.getElementById('quickstart-sign-in').textContent = 'Sign out';
    document.getElementById('quickstart-account-details').textContent = JSON.stringify({
      displayName:displayName,
      email:email,
      emailVerified:emailVerified,
      uid:uid,
      providerData:providerData
    }, null, '  ');
    if (!emailVerified) {
      document.getElementById('quickstart-verify-email').disabled = false;
    }
    // [END_EXCLUDE]
    }  
    else {
      // User is signed out.
      // [START_EXCLUDE silent]
      document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
      document.getElementById('quickstart-sign-in').textContent = 'Sign in';
      document.getElementById('quickstart-account-details').textContent = 'null';
      // [END_EXCLUDE]
      }
      // [START_EXCLUDE silent]
      document.getElementById('quickstart-sign-in').disabled = false;
      // [END_EXCLUDE]
    });
      // [END authstatelistener]
      document.getElementById('quickstart-sign-in').addEventListener('click', login, false);
      document.getElementById('quickstart-sign-up').addEventListener('click', SignUp, false);
      document.getElementById('quickstart-verify-email').addEventListener('click', sendEmailVerification, false);
      }
    window.onload = function() {
    initApp();
    };
  </script>
</head>

<body>
  
  <div align="center">
    <h2>Authentication</h2>
    <p>Enter an email and password below and either sign in to an existing account or sign up</p>
    <form>
      <div>
        <table>
          <tr>
            <td>Email:</td>
            <td><input style="display:inline;width:auto;" type="text" id="Email" name="email" placeholder="Email" /></td><br/><br/>
            </tr>
            <tr>
              <td>Password:</td>
          <td><input style="display:inline;width:auto;" type="password" id="Password" name="password" placeholder="Password" /></td>
            </tr>
          <br/><br/>
          <tr>
          <td><button id="quickstart-sign-in" name="signin">Sign In</button></td>
          <td><button id="quickstart-sign-up" name="signup">Sign Up</button></td>
          </tr>
      </div>
</body>

</html>