<html>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script type="text/javascript">
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAkoqYuXsb7R6I5gSwb3kmSamNfvQ7W9U8",
    authDomain: "issue-tracker-8c7e0.firebaseapp.com",
    databaseURL: "https://issue-tracker-8c7e0.firebaseio.com",
    storageBucket: "issue-tracker-8c7e0.appspot.com",
    messagingSenderId: "893777413665"
  };
  firebase.initializeApp(config);

  function register() {
  	var email = document.getElementById('email').value;



  //Registering a new user
  firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // ...
});
}
</script>
<head>
	<title> Register Page</title>
	<link rel = "stylesheet" type="text/css href="style.css">
</head>
<body>
	<div align="center" class="main">
		<h4>Create A New Account</h4>
	<form>
		<div >
		<table>
			<tr>
		<td>Email:</td>
		<td><input type ="text" name = "Email"/></td><br>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type ="password" name = "Password"/></td><br>
	</tr>
	<tr>
		<td><button>SIGN UP</button></td>
	</tr>
</table>
</div>
	</form>
</div>
	</body>
</html>